<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_PROMISSORY_FX_EXTENDED" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_PROMISSORY_FX_EXTENDEDVO" >
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="PROMISSORY_FX_TYPE" property="PROMISSORY_FX_TYPE" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="DEALER_TRX_LIMITS_AMT" property="DEALER_TRX_LIMITS_AMT" />
    <result column="DEALER_TRX_LIMITS_CY" property="DEALER_TRX_LIMITS_CY" />
    <result column="DEALER_TRX_LIMITS_CROSS_RATE" property="DEALER_TRX_LIMITS_CROSS_RATE" />
    <result column="LINK_TO_FX_OPTION_DEAL_NO" property="LINK_TO_FX_OPTION_DEAL_NO" />
    <result column="OPTION_POSITION" property="OPTION_POSITION" />
    <result column="FX_PRODUCT_OPTION" property="FX_PRODUCT_OPTION" />
    <result column="PREMIUM_AMT" property="PREMIUM_AMT" />
    <result column="PREMIUM_CY_TYPE" property="PREMIUM_CY_TYPE" />
    <result column="FX_OPTION_TYPE" property="FX_OPTION_TYPE" />
    <result column="FX_POSITION_LEVEL" property="FX_POSITION_LEVEL" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH_CODE, COMP_CODE, PROMISSORY_FX_TYPE, SERIAL_NO, DEALER_TRX_LIMITS_AMT, DEALER_TRX_LIMITS_CY, 
    DEALER_TRX_LIMITS_CROSS_RATE,LINK_TO_FX_OPTION_DEAL_NO,OPTION_POSITION,FX_PRODUCT_OPTION,PREMIUM_AMT,PREMIUM_CY_TYPE,FX_OPTION_TYPE,FX_POSITION_LEVEL
  </sql>
  <select id="selectTRSDEAL_PROMISSORY_FX_EXTENDED" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_PROMISSORY_FX_EXTENDEDVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_PROMISSORY_FX_EXTENDED
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROMISSORY_FX_TYPE = #{PROMISSORY_FX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSDEAL_PROMISSORY_FX_EXTENDED" parameterType="com.path.dbmaps.vo.TRSDEAL_PROMISSORY_FX_EXTENDEDVOKey" >
    delete from TRSDEAL_PROMISSORY_FX_EXTENDED
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROMISSORY_FX_TYPE = #{PROMISSORY_FX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSDEAL_PROMISSORY_FX_EXTENDED" parameterType="com.path.dbmaps.vo.TRSDEAL_PROMISSORY_FX_EXTENDEDVO" >
    insert into TRSDEAL_PROMISSORY_FX_EXTENDED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="PROMISSORY_FX_TYPE != null" >
        PROMISSORY_FX_TYPE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="DEALER_TRX_LIMITS_AMT != null and DEALER_TRX_LIMITS_AMT != emptyBigDecimalValue" >
        DEALER_TRX_LIMITS_AMT,
      </if>
      <if test="DEALER_TRX_LIMITS_CY != null and DEALER_TRX_LIMITS_CY != emptyBigDecimalValue" >
        DEALER_TRX_LIMITS_CY,
      </if>
      <if test="DEALER_TRX_LIMITS_CROSS_RATE != null and DEALER_TRX_LIMITS_CROSS_RATE != emptyBigDecimalValue" >
        DEALER_TRX_LIMITS_CROSS_RATE,
      </if>
      <if test="LINK_TO_FX_OPTION_DEAL_NO != null and LINK_TO_FX_OPTION_DEAL_NO != emptyBigDecimalValue" >
        LINK_TO_FX_OPTION_DEAL_NO,
      </if>
      <if test="OPTION_POSITION != null" >
        OPTION_POSITION,
      </if>
      <if test="FX_PRODUCT_OPTION != null" >
        FX_PRODUCT_OPTION,
      </if>
      <if test="PREMIUM_AMT != null and PREMIUM_AMT != emptyBigDecimalValue" >
        PREMIUM_AMT,
      </if>
      <if test="PREMIUM_CY_TYPE != null" >
        PREMIUM_CY_TYPE,
      </if>
      <if test="FX_OPTION_TYPE != null" >
        FX_OPTION_TYPE,
      </if>
      <if test="FX_POSITION_LEVEL != null and FX_POSITION_LEVEL != emptyBigDecimalValue" >
        FX_POSITION_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="PROMISSORY_FX_TYPE != null" >
        #{PROMISSORY_FX_TYPE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="DEALER_TRX_LIMITS_AMT != null and DEALER_TRX_LIMITS_AMT != emptyBigDecimalValue" >
        #{DEALER_TRX_LIMITS_AMT},
      </if>
      <if test="DEALER_TRX_LIMITS_CY != null and DEALER_TRX_LIMITS_CY != emptyBigDecimalValue" >
        #{DEALER_TRX_LIMITS_CY},
      </if>
      <if test="DEALER_TRX_LIMITS_CROSS_RATE != null and DEALER_TRX_LIMITS_CROSS_RATE != emptyBigDecimalValue" >
        #{DEALER_TRX_LIMITS_CROSS_RATE},
      </if>
      <if test="LINK_TO_FX_OPTION_DEAL_NO != null and LINK_TO_FX_OPTION_DEAL_NO != emptyBigDecimalValue" >
        #{LINK_TO_FX_OPTION_DEAL_NO},
      </if>
      <if test="OPTION_POSITION != null" >
        #{OPTION_POSITION},
      </if>
      <if test="FX_PRODUCT_OPTION != null" >
        #{FX_PRODUCT_OPTION},
      </if>
      <if test="PREMIUM_AMT != null and PREMIUM_AMT != emptyBigDecimalValue" >
        #{PREMIUM_AMT},
      </if>
      <if test="PREMIUM_CY_TYPE != null" >
        #{PREMIUM_CY_TYPE},
      </if>
      <if test="FX_OPTION_TYPE != null" >
        #{FX_OPTION_TYPE},
      </if>
      <if test="FX_POSITION_LEVEL != null and FX_POSITION_LEVEL != emptyBigDecimalValue" >
        #{FX_POSITION_LEVEL},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_PROMISSORY_FX_EXTENDED" >
    update TRSDEAL_PROMISSORY_FX_EXTENDED
    <set >
      <if test="DEALER_TRX_LIMITS_AMT != null" >
        <choose >
          <when test="DEALER_TRX_LIMITS_AMT == emptyBigDecimalValue" >
            DEALER_TRX_LIMITS_AMT = NULL ,
          </when>
          <otherwise >
            DEALER_TRX_LIMITS_AMT = #{DEALER_TRX_LIMITS_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="DEALER_TRX_LIMITS_CY != null" >
        <choose >
          <when test="DEALER_TRX_LIMITS_CY == emptyBigDecimalValue" >
            DEALER_TRX_LIMITS_CY = NULL ,
          </when>
          <otherwise >
            DEALER_TRX_LIMITS_CY = #{DEALER_TRX_LIMITS_CY},
          </otherwise>
        </choose>
      </if>
      <if test="DEALER_TRX_LIMITS_CROSS_RATE != null" >
        <choose >
          <when test="DEALER_TRX_LIMITS_CROSS_RATE == emptyBigDecimalValue" >
            DEALER_TRX_LIMITS_CROSS_RATE = NULL ,
          </when>
          <otherwise >
            DEALER_TRX_LIMITS_CROSS_RATE = #{DEALER_TRX_LIMITS_CROSS_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="LINK_TO_FX_OPTION_DEAL_NO != null" >
        <choose >
          <when test="LINK_TO_FX_OPTION_DEAL_NO == emptyBigDecimalValue" >
            LINK_TO_FX_OPTION_DEAL_NO = NULL ,
          </when>
          <otherwise >
            LINK_TO_FX_OPTION_DEAL_NO = #{LINK_TO_FX_OPTION_DEAL_NO},
          </otherwise>
        </choose>
      </if>
      <if test="OPTION_POSITION != null" >
        OPTION_POSITION = #{OPTION_POSITION},
      </if>
      <if test="FX_PRODUCT_OPTION != null" >
        FX_PRODUCT_OPTION = #{FX_PRODUCT_OPTION},
      </if>
      <if test="PREMIUM_AMT != null" >
        <choose >
          <when test="PREMIUM_AMT == emptyBigDecimalValue" >
            PREMIUM_AMT = NULL ,
          </when>
          <otherwise >
            PREMIUM_AMT = #{PREMIUM_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="PREMIUM_CY_TYPE != null" >
        PREMIUM_CY_TYPE = #{PREMIUM_CY_TYPE},
      </if>
      <if test="FX_OPTION_TYPE != null" >
        FX_OPTION_TYPE = #{FX_OPTION_TYPE},
      </if>
      <if test="FX_POSITION_LEVEL != null" >
        <choose >
          <when test="FX_POSITION_LEVEL == emptyBigDecimalValue" >
            FX_POSITION_LEVEL = NULL ,
          </when>
          <otherwise >
            FX_POSITION_LEVEL = #{FX_POSITION_LEVEL},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and PROMISSORY_FX_TYPE = #{PROMISSORY_FX_TYPE}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSDEAL_PROMISSORY_FX_EXTENDED" parameterType="com.path.dbmaps.vo.TRSDEAL_PROMISSORY_FX_EXTENDEDVO" >
    <include refid="sql_updateTRSDEAL_PROMISSORY_FX_EXTENDED" />
  </update>
</mapper>