<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSDEAL_ASSET_DET" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSDEAL_ASSET_DETVO" >
    <id column="ASSET_CATEGORY_CODE" property="ASSET_CATEGORY_CODE" />
    <id column="ASSET_CLASS_CODE" property="ASSET_CLASS_CODE" />
    <id column="ASSET_CODE" property="ASSET_CODE" />
    <id column="BRANCH_CODE" property="BRANCH_CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SERIAL_NO" property="SERIAL_NO" />
    <result column="BUY_BACK_YN" property="BUY_BACK_YN" />
    <result column="ASSET_COST" property="ASSET_COST" />
    <result column="SECURITY_DEPOSIT_AMOUNT" property="SECURITY_DEPOSIT_AMOUNT" />
    <result column="BALLOON_PERC" property="BALLOON_PERC" />
    <result column="SECURITY_DEPOSIT_PERC" property="SECURITY_DEPOSIT_PERC" />
    <result column="BALLOON_AMOUNT" property="BALLOON_AMOUNT" />
    <result column="CASH_COLLATERAL" property="CASH_COLLATERAL" />
    <result column="REFUND_AMOUNT" property="REFUND_AMOUNT" />
    <result column="HAMISH_AL_JIDDIYA_AMT" property="HAMISH_AL_JIDDIYA_AMT" />
    <result column="HAMISH_AL_JIDDIYA_PERC" property="HAMISH_AL_JIDDIYA_PERC" />
    <result column="STATUS" property="STATUS" />
    <result column="RETIRE_TRX_NBR" property="RETIRE_TRX_NBR" />
    <result column="SALE_TRX_NBR" property="SALE_TRX_NBR" />
    <result column="INSURANCE_COMP_CODE" property="INSURANCE_COMP_CODE" />
    <result column="INSURANCE_RATE" property="INSURANCE_RATE" />
    <result column="INSURANCE_AMOUNT" property="INSURANCE_AMOUNT" />
    <result column="INSURANCE_VAT_AMOUNT" property="INSURANCE_VAT_AMOUNT" />
    <result column="INSURANCE_VAT_CODE" property="INSURANCE_VAT_CODE" />
    <result column="PROFIT_RATE" property="PROFIT_RATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ASSET_CATEGORY_CODE, ASSET_CLASS_CODE, ASSET_CODE, BRANCH_CODE, COMP_CODE, SERIAL_NO, 
    BUY_BACK_YN, ASSET_COST, SECURITY_DEPOSIT_AMOUNT, BALLOON_PERC, SECURITY_DEPOSIT_PERC, 
    BALLOON_AMOUNT, CASH_COLLATERAL, REFUND_AMOUNT, HAMISH_AL_JIDDIYA_AMT, HAMISH_AL_JIDDIYA_PERC, 
    STATUS, RETIRE_TRX_NBR, SALE_TRX_NBR, INSURANCE_COMP_CODE, INSURANCE_RATE, INSURANCE_AMOUNT, 
    INSURANCE_VAT_AMOUNT, INSURANCE_VAT_CODE, PROFIT_RATE
  </sql>
  <select id="selectTRSDEAL_ASSET_DET" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSDEAL_ASSET_DETVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSDEAL_ASSET_DET
    where ASSET_CATEGORY_CODE = #{ASSET_CATEGORY_CODE}
      and ASSET_CLASS_CODE = #{ASSET_CLASS_CODE}
      and ASSET_CODE = #{ASSET_CODE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </select>
  <delete id="deleteTRSDEAL_ASSET_DET" parameterType="com.path.dbmaps.vo.TRSDEAL_ASSET_DETVOKey" >
    delete from TRSDEAL_ASSET_DET
    where ASSET_CATEGORY_CODE = #{ASSET_CATEGORY_CODE}
      and ASSET_CLASS_CODE = #{ASSET_CLASS_CODE}
      and ASSET_CODE = #{ASSET_CODE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </delete>
  <insert id="insertTRSDEAL_ASSET_DET" parameterType="com.path.dbmaps.vo.TRSDEAL_ASSET_DETVO" >
    insert into TRSDEAL_ASSET_DET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ASSET_CATEGORY_CODE != null and ASSET_CATEGORY_CODE != emptyBigDecimalValue" >
        ASSET_CATEGORY_CODE,
      </if>
      <if test="ASSET_CLASS_CODE != null and ASSET_CLASS_CODE != emptyBigDecimalValue" >
        ASSET_CLASS_CODE,
      </if>
      <if test="ASSET_CODE != null and ASSET_CODE != emptyBigDecimalValue" >
        ASSET_CODE,
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        BRANCH_CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        SERIAL_NO,
      </if>
      <if test="BUY_BACK_YN != null and !&quot;&quot;.equals(BUY_BACK_YN)" >
        BUY_BACK_YN,
      </if>
      <if test="ASSET_COST != null and ASSET_COST != emptyBigDecimalValue" >
        ASSET_COST,
      </if>
      <if test="SECURITY_DEPOSIT_AMOUNT != null and SECURITY_DEPOSIT_AMOUNT != emptyBigDecimalValue" >
        SECURITY_DEPOSIT_AMOUNT,
      </if>
      <if test="BALLOON_PERC != null and BALLOON_PERC != emptyBigDecimalValue" >
        BALLOON_PERC,
      </if>
      <if test="SECURITY_DEPOSIT_PERC != null and SECURITY_DEPOSIT_PERC != emptyBigDecimalValue" >
        SECURITY_DEPOSIT_PERC,
      </if>
      <if test="BALLOON_AMOUNT != null and BALLOON_AMOUNT != emptyBigDecimalValue" >
        BALLOON_AMOUNT,
      </if>
      <if test="CASH_COLLATERAL != null and CASH_COLLATERAL != emptyBigDecimalValue" >
        CASH_COLLATERAL,
      </if>
      <if test="REFUND_AMOUNT != null and REFUND_AMOUNT != emptyBigDecimalValue" >
        REFUND_AMOUNT,
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null and HAMISH_AL_JIDDIYA_AMT != emptyBigDecimalValue" >
        HAMISH_AL_JIDDIYA_AMT,
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null and HAMISH_AL_JIDDIYA_PERC != emptyBigDecimalValue" >
        HAMISH_AL_JIDDIYA_PERC,
      </if>
      <if test="STATUS != null and STATUS != emptyBigDecimalValue" >
        STATUS,
      </if>
      <if test="RETIRE_TRX_NBR != null and RETIRE_TRX_NBR != emptyBigDecimalValue" >
        RETIRE_TRX_NBR,
      </if>
      <if test="SALE_TRX_NBR != null and SALE_TRX_NBR != emptyBigDecimalValue" >
        SALE_TRX_NBR,
      </if>
      <if test="INSURANCE_COMP_CODE != null and INSURANCE_COMP_CODE != emptyBigDecimalValue" >
        INSURANCE_COMP_CODE,
      </if>
      <if test="INSURANCE_RATE != null and INSURANCE_RATE != emptyBigDecimalValue" >
        INSURANCE_RATE,
      </if>
      <if test="INSURANCE_AMOUNT != null and INSURANCE_AMOUNT != emptyBigDecimalValue" >
        INSURANCE_AMOUNT,
      </if>
      <if test="INSURANCE_VAT_AMOUNT != null and INSURANCE_VAT_AMOUNT != emptyBigDecimalValue" >
        INSURANCE_VAT_AMOUNT,
      </if>
      <if test="INSURANCE_VAT_CODE != null and INSURANCE_VAT_CODE != emptyBigDecimalValue" >
        INSURANCE_VAT_CODE,
      </if>
      <if test="PROFIT_RATE != null and PROFIT_RATE != emptyBigDecimalValue" >
        PROFIT_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ASSET_CATEGORY_CODE != null and ASSET_CATEGORY_CODE != emptyBigDecimalValue" >
        #{ASSET_CATEGORY_CODE},
      </if>
      <if test="ASSET_CLASS_CODE != null and ASSET_CLASS_CODE != emptyBigDecimalValue" >
        #{ASSET_CLASS_CODE},
      </if>
      <if test="ASSET_CODE != null and ASSET_CODE != emptyBigDecimalValue" >
        #{ASSET_CODE},
      </if>
      <if test="BRANCH_CODE != null and BRANCH_CODE != emptyBigDecimalValue" >
        #{BRANCH_CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SERIAL_NO != null and SERIAL_NO != emptyBigDecimalValue" >
        #{SERIAL_NO},
      </if>
      <if test="BUY_BACK_YN != null and !&quot;&quot;.equals(BUY_BACK_YN)" >
        #{BUY_BACK_YN},
      </if>
      <if test="ASSET_COST != null and ASSET_COST != emptyBigDecimalValue" >
        #{ASSET_COST},
      </if>
      <if test="SECURITY_DEPOSIT_AMOUNT != null and SECURITY_DEPOSIT_AMOUNT != emptyBigDecimalValue" >
        #{SECURITY_DEPOSIT_AMOUNT},
      </if>
      <if test="BALLOON_PERC != null and BALLOON_PERC != emptyBigDecimalValue" >
        #{BALLOON_PERC},
      </if>
      <if test="SECURITY_DEPOSIT_PERC != null and SECURITY_DEPOSIT_PERC != emptyBigDecimalValue" >
        #{SECURITY_DEPOSIT_PERC},
      </if>
      <if test="BALLOON_AMOUNT != null and BALLOON_AMOUNT != emptyBigDecimalValue" >
        #{BALLOON_AMOUNT},
      </if>
      <if test="CASH_COLLATERAL != null and CASH_COLLATERAL != emptyBigDecimalValue" >
        #{CASH_COLLATERAL},
      </if>
      <if test="REFUND_AMOUNT != null and REFUND_AMOUNT != emptyBigDecimalValue" >
        #{REFUND_AMOUNT},
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null and HAMISH_AL_JIDDIYA_AMT != emptyBigDecimalValue" >
        #{HAMISH_AL_JIDDIYA_AMT},
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null and HAMISH_AL_JIDDIYA_PERC != emptyBigDecimalValue" >
        #{HAMISH_AL_JIDDIYA_PERC},
      </if>
      <if test="STATUS != null and STATUS != emptyBigDecimalValue" >
        #{STATUS},
      </if>
      <if test="RETIRE_TRX_NBR != null and RETIRE_TRX_NBR != emptyBigDecimalValue" >
        #{RETIRE_TRX_NBR},
      </if>
      <if test="SALE_TRX_NBR != null and SALE_TRX_NBR != emptyBigDecimalValue" >
        #{SALE_TRX_NBR},
      </if>
      <if test="INSURANCE_COMP_CODE != null and INSURANCE_COMP_CODE != emptyBigDecimalValue" >
        #{INSURANCE_COMP_CODE},
      </if>
      <if test="INSURANCE_RATE != null and INSURANCE_RATE != emptyBigDecimalValue" >
        #{INSURANCE_RATE},
      </if>
      <if test="INSURANCE_AMOUNT != null and INSURANCE_AMOUNT != emptyBigDecimalValue" >
        #{INSURANCE_AMOUNT},
      </if>
      <if test="INSURANCE_VAT_AMOUNT != null and INSURANCE_VAT_AMOUNT != emptyBigDecimalValue" >
        #{INSURANCE_VAT_AMOUNT},
      </if>
      <if test="INSURANCE_VAT_CODE != null and INSURANCE_VAT_CODE != emptyBigDecimalValue" >
        #{INSURANCE_VAT_CODE},
      </if>
      <if test="PROFIT_RATE != null and PROFIT_RATE != emptyBigDecimalValue" >
        #{PROFIT_RATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSDEAL_ASSET_DET" >
    update TRSDEAL_ASSET_DET
    <set >
      <if test="BUY_BACK_YN != null" >
        <choose >
          <when test="BUY_BACK_YN.equals(&quot;&quot;)" >
            BUY_BACK_YN = NULL ,
          </when>
          <otherwise >
            BUY_BACK_YN = #{BUY_BACK_YN},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_COST != null" >
        <choose >
          <when test="ASSET_COST == emptyBigDecimalValue" >
            ASSET_COST = NULL ,
          </when>
          <otherwise >
            ASSET_COST = #{ASSET_COST},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_DEPOSIT_AMOUNT != null" >
        <choose >
          <when test="SECURITY_DEPOSIT_AMOUNT == emptyBigDecimalValue" >
            SECURITY_DEPOSIT_AMOUNT = NULL ,
          </when>
          <otherwise >
            SECURITY_DEPOSIT_AMOUNT = #{SECURITY_DEPOSIT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="BALLOON_PERC != null" >
        <choose >
          <when test="BALLOON_PERC == emptyBigDecimalValue" >
            BALLOON_PERC = NULL ,
          </when>
          <otherwise >
            BALLOON_PERC = #{BALLOON_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_DEPOSIT_PERC != null" >
        <choose >
          <when test="SECURITY_DEPOSIT_PERC == emptyBigDecimalValue" >
            SECURITY_DEPOSIT_PERC = NULL ,
          </when>
          <otherwise >
            SECURITY_DEPOSIT_PERC = #{SECURITY_DEPOSIT_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="BALLOON_AMOUNT != null" >
        <choose >
          <when test="BALLOON_AMOUNT == emptyBigDecimalValue" >
            BALLOON_AMOUNT = NULL ,
          </when>
          <otherwise >
            BALLOON_AMOUNT = #{BALLOON_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="CASH_COLLATERAL != null" >
        <choose >
          <when test="CASH_COLLATERAL == emptyBigDecimalValue" >
            CASH_COLLATERAL = NULL ,
          </when>
          <otherwise >
            CASH_COLLATERAL = #{CASH_COLLATERAL},
          </otherwise>
        </choose>
      </if>
      <if test="REFUND_AMOUNT != null" >
        <choose >
          <when test="REFUND_AMOUNT == emptyBigDecimalValue" >
            REFUND_AMOUNT = NULL ,
          </when>
          <otherwise >
            REFUND_AMOUNT = #{REFUND_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_AL_JIDDIYA_AMT != null" >
        <choose >
          <when test="HAMISH_AL_JIDDIYA_AMT == emptyBigDecimalValue" >
            HAMISH_AL_JIDDIYA_AMT = NULL ,
          </when>
          <otherwise >
            HAMISH_AL_JIDDIYA_AMT = #{HAMISH_AL_JIDDIYA_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="HAMISH_AL_JIDDIYA_PERC != null" >
        <choose >
          <when test="HAMISH_AL_JIDDIYA_PERC == emptyBigDecimalValue" >
            HAMISH_AL_JIDDIYA_PERC = NULL ,
          </when>
          <otherwise >
            HAMISH_AL_JIDDIYA_PERC = #{HAMISH_AL_JIDDIYA_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS == emptyBigDecimalValue" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="RETIRE_TRX_NBR != null" >
        <choose >
          <when test="RETIRE_TRX_NBR == emptyBigDecimalValue" >
            RETIRE_TRX_NBR = NULL ,
          </when>
          <otherwise >
            RETIRE_TRX_NBR = #{RETIRE_TRX_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="SALE_TRX_NBR != null" >
        <choose >
          <when test="SALE_TRX_NBR == emptyBigDecimalValue" >
            SALE_TRX_NBR = NULL ,
          </when>
          <otherwise >
            SALE_TRX_NBR = #{SALE_TRX_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_COMP_CODE != null" >
        <choose >
          <when test="INSURANCE_COMP_CODE == emptyBigDecimalValue" >
            INSURANCE_COMP_CODE = NULL ,
          </when>
          <otherwise >
            INSURANCE_COMP_CODE = #{INSURANCE_COMP_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_RATE != null" >
        <choose >
          <when test="INSURANCE_RATE == emptyBigDecimalValue" >
            INSURANCE_RATE = NULL ,
          </when>
          <otherwise >
            INSURANCE_RATE = #{INSURANCE_RATE},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_AMOUNT != null" >
        <choose >
          <when test="INSURANCE_AMOUNT == emptyBigDecimalValue" >
            INSURANCE_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSURANCE_AMOUNT = #{INSURANCE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_VAT_AMOUNT != null" >
        <choose >
          <when test="INSURANCE_VAT_AMOUNT == emptyBigDecimalValue" >
            INSURANCE_VAT_AMOUNT = NULL ,
          </when>
          <otherwise >
            INSURANCE_VAT_AMOUNT = #{INSURANCE_VAT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_VAT_CODE != null" >
        <choose >
          <when test="INSURANCE_VAT_CODE == emptyBigDecimalValue" >
            INSURANCE_VAT_CODE = NULL ,
          </when>
          <otherwise >
            INSURANCE_VAT_CODE = #{INSURANCE_VAT_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_RATE != null" >
        <choose >
          <when test="PROFIT_RATE == emptyBigDecimalValue" >
            PROFIT_RATE = NULL ,
          </when>
          <otherwise >
            PROFIT_RATE = #{PROFIT_RATE},
          </otherwise>
        </choose>
      </if>
    </set>
    where ASSET_CATEGORY_CODE = #{ASSET_CATEGORY_CODE}
      and ASSET_CLASS_CODE = #{ASSET_CLASS_CODE}
      and ASSET_CODE = #{ASSET_CODE}
      and BRANCH_CODE = #{BRANCH_CODE}
      and COMP_CODE = #{COMP_CODE}
      and SERIAL_NO = #{SERIAL_NO}
  </sql>
  <update id="updateTRSDEAL_ASSET_DET" parameterType="com.path.dbmaps.vo.TRSDEAL_ASSET_DETVO" >
    <include refid="sql_updateTRSDEAL_ASSET_DET" />
  </update>
</mapper>