<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TRSSETLMT_EXTENDED" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.TRSSETLMT_EXTENDEDVO" >
    <id column="BRANCH" property="BRANCH" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="SETTLEMENT_NBR" property="SETTLEMENT_NBR" />
    <result column="SWITCH_DEAL_TYPE" property="SWITCH_DEAL_TYPE" />
    <result column="INCLUDE_CURRENT_INSTALLMENT_YN" property="INCLUDE_CURRENT_INSTALLMENT_YN" />
    <result column="PAST_DUE_AMOUNT_SWITCHING" property="PAST_DUE_AMOUNT_SWITCHING" />
    <result column="PRINCIPAL_OUTSTANDING" property="PRINCIPAL_OUTSTANDING" />
    <result column="REPOSSESSION_TYPE" property="REPOSSESSION_TYPE" />
    <result column="INCIDENTAL_CHARGE_COLLECTED" property="INCIDENTAL_CHARGE_COLLECTED" />
    <result column="INCIDENTAL_CHARGE_DUE" property="INCIDENTAL_CHARGE_DUE" />
    <result column="ADVANCE_USUFRUCT" property="ADVANCE_USUFRUCT" />
    <result column="COLLECTED_INSURANCE_CHARGES" property="COLLECTED_INSURANCE_CHARGES" />
    <result column="OUTSTANDING_INSURANCE_CHARGES" property="OUTSTANDING_INSURANCE_CHARGES" />
    <result column="REIMBURSE_ADVANCE_USUFRUCT" property="REIMBURSE_ADVANCE_USUFRUCT" />
    <result column="SECURITY_DEPOSIT" property="SECURITY_DEPOSIT" />
    <result column="ASSET_MATURITY_ACTION" property="ASSET_MATURITY_ACTION" />
    <result column="ACCIDENT_CLAIM_PERC" property="ACCIDENT_CLAIM_PERC" />
    <result column="ADVANCE_INSURANCE_VAT_RVRSL" property="ADVANCE_INSURANCE_VAT_RVRSL" />
    <result column="ASSET_EVALUATION" property="ASSET_EVALUATION" />
    <result column="ASSET_REPOSSESSION_TRX_NO" property="ASSET_REPOSSESSION_TRX_NO" />
    <result column="COVERAGE_BY" property="COVERAGE_BY" />
    <result column="DEAL_OUTSTANDING_CHARGES" property="DEAL_OUTSTANDING_CHARGES" />
    <result column="GAIN_OR_LOSS" property="GAIN_OR_LOSS" />
    <result column="GAIN_OR_LOSS_ON_ASSET_EVALUTN" property="GAIN_OR_LOSS_ON_ASSET_EVALUTN" />
    <result column="INSURANCE_CLAIM_REFERENCE" property="INSURANCE_CLAIM_REFERENCE" />
    <result column="INSURANCE_SETTLEMENT_RECEIVED" property="INSURANCE_SETTLEMENT_RECEIVED" />
    <result column="NET_PAYABLE_AMOUNT" property="NET_PAYABLE_AMOUNT" />
    <result column="NET_REMAINING_BALANCE" property="NET_REMAINING_BALANCE" />
    <result column="PROFIT_OUTSTANDING" property="PROFIT_OUTSTANDING" />
    <result column="SETTLEMENT_AMOUNT" property="SETTLEMENT_AMOUNT" />
    <result column="SETTLEMENT_FROM_CUSTOMER" property="SETTLEMENT_FROM_CUSTOMER" />
    <result column="SETTLEMENT_FROM_INSURANCE" property="SETTLEMENT_FROM_INSURANCE" />
    <result column="TOTAL_DEAL_OR_ASSET_OUTSTNDNG" property="TOTAL_DEAL_OR_ASSET_OUTSTNDNG" />
    <result column="UNUSED_DOWN_PAYMENT" property="UNUSED_DOWN_PAYMENT" />
    <result column="VAT_ON_ADVANCE_INSURANCE" property="VAT_ON_ADVANCE_INSURANCE" />
    <result column="ADVANCE_INS_SETTLED_VAT_AMT" property="ADVANCE_INS_SETTLED_VAT_AMT" />
    <result column="ASSET_RETURN_TRX_NO" property="ASSET_RETURN_TRX_NO" />
    <result column="PAST_DUE_CHARGES" property="PAST_DUE_CHARGES" />
    <result column="PAST_DUE_VAT_ON_ADV_INSURANCE" property="PAST_DUE_VAT_ON_ADV_INSURANCE" />
    <result column="VAT_ON_CHARGES_AT_DEAL_PLAN" property="VAT_ON_CHARGES_AT_DEAL_PLAN" />
    <result column="PAST_DUE_CHARGES_AT_DEAL_PLAN" property="PAST_DUE_CHARGES_AT_DEAL_PLAN" />
    <result column="PAST_DUE_VAT_CHARGES_DEAL_PLAN" property="PAST_DUE_VAT_CHARGES_DEAL_PLAN" />
    <result column="PAST_DUE_ADVANCE_INSURANCE" property="PAST_DUE_ADVANCE_INSURANCE" />
    <result column="PAST_DUE_PROFIT" property="PAST_DUE_PROFIT" />
    <result column="NUMBER_OF_INSTALLMENTS" property="NUMBER_OF_INSTALLMENTS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCH, COMP_CODE, SETTLEMENT_NBR, SWITCH_DEAL_TYPE, INCLUDE_CURRENT_INSTALLMENT_YN, 
    PAST_DUE_AMOUNT_SWITCHING, PRINCIPAL_OUTSTANDING, REPOSSESSION_TYPE, INCIDENTAL_CHARGE_COLLECTED, 
    INCIDENTAL_CHARGE_DUE, ADVANCE_USUFRUCT, COLLECTED_INSURANCE_CHARGES, OUTSTANDING_INSURANCE_CHARGES, 
    REIMBURSE_ADVANCE_USUFRUCT, SECURITY_DEPOSIT, ASSET_MATURITY_ACTION, ACCIDENT_CLAIM_PERC, 
    ADVANCE_INSURANCE_VAT_RVRSL, ASSET_EVALUATION, ASSET_REPOSSESSION_TRX_NO, COVERAGE_BY, 
    DEAL_OUTSTANDING_CHARGES, GAIN_OR_LOSS, GAIN_OR_LOSS_ON_ASSET_EVALUTN, INSURANCE_CLAIM_REFERENCE, 
    INSURANCE_SETTLEMENT_RECEIVED, NET_PAYABLE_AMOUNT, NET_REMAINING_BALANCE, PROFIT_OUTSTANDING, 
    SETTLEMENT_AMOUNT, SETTLEMENT_FROM_CUSTOMER, SETTLEMENT_FROM_INSURANCE, TOTAL_DEAL_OR_ASSET_OUTSTNDNG, 
    UNUSED_DOWN_PAYMENT, VAT_ON_ADVANCE_INSURANCE, ADVANCE_INS_SETTLED_VAT_AMT, ASSET_RETURN_TRX_NO, 
    PAST_DUE_CHARGES, PAST_DUE_VAT_ON_ADV_INSURANCE, VAT_ON_CHARGES_AT_DEAL_PLAN, PAST_DUE_CHARGES_AT_DEAL_PLAN, 
    PAST_DUE_VAT_CHARGES_DEAL_PLAN, PAST_DUE_ADVANCE_INSURANCE, PAST_DUE_PROFIT, NUMBER_OF_INSTALLMENTS
  </sql>
  <select id="selectTRSSETLMT_EXTENDED" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.TRSSETLMT_EXTENDEDVOKey" >
    select 
    <include refid="Base_Column_List" />
    from TRSSETLMT_EXTENDED
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and SETTLEMENT_NBR = #{SETTLEMENT_NBR}
  </select>
  <delete id="deleteTRSSETLMT_EXTENDED" parameterType="com.path.dbmaps.vo.TRSSETLMT_EXTENDEDVOKey" >
    delete from TRSSETLMT_EXTENDED
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and SETTLEMENT_NBR = #{SETTLEMENT_NBR}
  </delete>
  <insert id="insertTRSSETLMT_EXTENDED" parameterType="com.path.dbmaps.vo.TRSSETLMT_EXTENDEDVO" >
    insert into TRSSETLMT_EXTENDED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        BRANCH,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="SETTLEMENT_NBR != null and SETTLEMENT_NBR != emptyBigDecimalValue" >
        SETTLEMENT_NBR,
      </if>
      <if test="SWITCH_DEAL_TYPE != null and SWITCH_DEAL_TYPE != emptyBigDecimalValue" >
        SWITCH_DEAL_TYPE,
      </if>
      <if test="INCLUDE_CURRENT_INSTALLMENT_YN != null and !&quot;&quot;.equals(INCLUDE_CURRENT_INSTALLMENT_YN)" >
        INCLUDE_CURRENT_INSTALLMENT_YN,
      </if>
      <if test="PAST_DUE_AMOUNT_SWITCHING != null and PAST_DUE_AMOUNT_SWITCHING != emptyBigDecimalValue" >
        PAST_DUE_AMOUNT_SWITCHING,
      </if>
      <if test="PRINCIPAL_OUTSTANDING != null and PRINCIPAL_OUTSTANDING != emptyBigDecimalValue" >
        PRINCIPAL_OUTSTANDING,
      </if>
      <if test="REPOSSESSION_TYPE != null and REPOSSESSION_TYPE != emptyBigDecimalValue" >
        REPOSSESSION_TYPE,
      </if>
      <if test="INCIDENTAL_CHARGE_COLLECTED != null and INCIDENTAL_CHARGE_COLLECTED != emptyBigDecimalValue" >
        INCIDENTAL_CHARGE_COLLECTED,
      </if>
      <if test="INCIDENTAL_CHARGE_DUE != null and INCIDENTAL_CHARGE_DUE != emptyBigDecimalValue" >
        INCIDENTAL_CHARGE_DUE,
      </if>
      <if test="ADVANCE_USUFRUCT != null and ADVANCE_USUFRUCT != emptyBigDecimalValue" >
        ADVANCE_USUFRUCT,
      </if>
      <if test="COLLECTED_INSURANCE_CHARGES != null and COLLECTED_INSURANCE_CHARGES != emptyBigDecimalValue" >
        COLLECTED_INSURANCE_CHARGES,
      </if>
      <if test="OUTSTANDING_INSURANCE_CHARGES != null and OUTSTANDING_INSURANCE_CHARGES != emptyBigDecimalValue" >
        OUTSTANDING_INSURANCE_CHARGES,
      </if>
      <if test="REIMBURSE_ADVANCE_USUFRUCT != null and REIMBURSE_ADVANCE_USUFRUCT != emptyBigDecimalValue" >
        REIMBURSE_ADVANCE_USUFRUCT,
      </if>
      <if test="SECURITY_DEPOSIT != null and SECURITY_DEPOSIT != emptyBigDecimalValue" >
        SECURITY_DEPOSIT,
      </if>
      <if test="ASSET_MATURITY_ACTION != null and !&quot;&quot;.equals(ASSET_MATURITY_ACTION)" >
        ASSET_MATURITY_ACTION,
      </if>
      <if test="ACCIDENT_CLAIM_PERC != null and ACCIDENT_CLAIM_PERC != emptyBigDecimalValue" >
        ACCIDENT_CLAIM_PERC,
      </if>
      <if test="ADVANCE_INSURANCE_VAT_RVRSL != null and ADVANCE_INSURANCE_VAT_RVRSL != emptyBigDecimalValue" >
        ADVANCE_INSURANCE_VAT_RVRSL,
      </if>
      <if test="ASSET_EVALUATION != null and ASSET_EVALUATION != emptyBigDecimalValue" >
        ASSET_EVALUATION,
      </if>
      <if test="ASSET_REPOSSESSION_TRX_NO != null and ASSET_REPOSSESSION_TRX_NO != emptyBigDecimalValue" >
        ASSET_REPOSSESSION_TRX_NO,
      </if>
      <if test="COVERAGE_BY != null and !&quot;&quot;.equals(COVERAGE_BY)" >
        COVERAGE_BY,
      </if>
      <if test="DEAL_OUTSTANDING_CHARGES != null and DEAL_OUTSTANDING_CHARGES != emptyBigDecimalValue" >
        DEAL_OUTSTANDING_CHARGES,
      </if>
      <if test="GAIN_OR_LOSS != null and GAIN_OR_LOSS != emptyBigDecimalValue" >
        GAIN_OR_LOSS,
      </if>
      <if test="GAIN_OR_LOSS_ON_ASSET_EVALUTN != null and GAIN_OR_LOSS_ON_ASSET_EVALUTN != emptyBigDecimalValue" >
        GAIN_OR_LOSS_ON_ASSET_EVALUTN,
      </if>
      <if test="INSURANCE_CLAIM_REFERENCE != null and !&quot;&quot;.equals(INSURANCE_CLAIM_REFERENCE)" >
        INSURANCE_CLAIM_REFERENCE,
      </if>
      <if test="INSURANCE_SETTLEMENT_RECEIVED != null and INSURANCE_SETTLEMENT_RECEIVED != emptyBigDecimalValue" >
        INSURANCE_SETTLEMENT_RECEIVED,
      </if>
      <if test="NET_PAYABLE_AMOUNT != null and NET_PAYABLE_AMOUNT != emptyBigDecimalValue" >
        NET_PAYABLE_AMOUNT,
      </if>
      <if test="NET_REMAINING_BALANCE != null and NET_REMAINING_BALANCE != emptyBigDecimalValue" >
        NET_REMAINING_BALANCE,
      </if>
      <if test="PROFIT_OUTSTANDING != null and PROFIT_OUTSTANDING != emptyBigDecimalValue" >
        PROFIT_OUTSTANDING,
      </if>
      <if test="SETTLEMENT_AMOUNT != null and SETTLEMENT_AMOUNT != emptyBigDecimalValue" >
        SETTLEMENT_AMOUNT,
      </if>
      <if test="SETTLEMENT_FROM_CUSTOMER != null and SETTLEMENT_FROM_CUSTOMER != emptyBigDecimalValue" >
        SETTLEMENT_FROM_CUSTOMER,
      </if>
      <if test="SETTLEMENT_FROM_INSURANCE != null and SETTLEMENT_FROM_INSURANCE != emptyBigDecimalValue" >
        SETTLEMENT_FROM_INSURANCE,
      </if>
      <if test="TOTAL_DEAL_OR_ASSET_OUTSTNDNG != null and TOTAL_DEAL_OR_ASSET_OUTSTNDNG != emptyBigDecimalValue" >
        TOTAL_DEAL_OR_ASSET_OUTSTNDNG,
      </if>
      <if test="UNUSED_DOWN_PAYMENT != null and UNUSED_DOWN_PAYMENT != emptyBigDecimalValue" >
        UNUSED_DOWN_PAYMENT,
      </if>
      <if test="VAT_ON_ADVANCE_INSURANCE != null and VAT_ON_ADVANCE_INSURANCE != emptyBigDecimalValue" >
        VAT_ON_ADVANCE_INSURANCE,
      </if>
      <if test="ADVANCE_INS_SETTLED_VAT_AMT != null and ADVANCE_INS_SETTLED_VAT_AMT != emptyBigDecimalValue" >
        ADVANCE_INS_SETTLED_VAT_AMT,
      </if>
      <if test="ASSET_RETURN_TRX_NO != null and ASSET_RETURN_TRX_NO != emptyBigDecimalValue" >
        ASSET_RETURN_TRX_NO,
      </if>
      <if test="PAST_DUE_CHARGES != null and PAST_DUE_CHARGES != emptyBigDecimalValue" >
        PAST_DUE_CHARGES,
      </if>
      <if test="PAST_DUE_VAT_ON_ADV_INSURANCE != null and PAST_DUE_VAT_ON_ADV_INSURANCE != emptyBigDecimalValue" >
        PAST_DUE_VAT_ON_ADV_INSURANCE,
      </if>
      <if test="VAT_ON_CHARGES_AT_DEAL_PLAN != null and VAT_ON_CHARGES_AT_DEAL_PLAN != emptyBigDecimalValue" >
        VAT_ON_CHARGES_AT_DEAL_PLAN,
      </if>
      <if test="PAST_DUE_CHARGES_AT_DEAL_PLAN != null and PAST_DUE_CHARGES_AT_DEAL_PLAN != emptyBigDecimalValue" >
        PAST_DUE_CHARGES_AT_DEAL_PLAN,
      </if>
      <if test="PAST_DUE_VAT_CHARGES_DEAL_PLAN != null and PAST_DUE_VAT_CHARGES_DEAL_PLAN != emptyBigDecimalValue" >
        PAST_DUE_VAT_CHARGES_DEAL_PLAN,
      </if>
      <if test="PAST_DUE_ADVANCE_INSURANCE != null and PAST_DUE_ADVANCE_INSURANCE != emptyBigDecimalValue" >
        PAST_DUE_ADVANCE_INSURANCE,
      </if>
      <if test="PAST_DUE_PROFIT != null and PAST_DUE_PROFIT != emptyBigDecimalValue" >
        PAST_DUE_PROFIT,
      </if>
      <if test="NUMBER_OF_INSTALLMENTS != null and NUMBER_OF_INSTALLMENTS != emptyBigDecimalValue" >
        NUMBER_OF_INSTALLMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BRANCH != null and BRANCH != emptyBigDecimalValue" >
        #{BRANCH},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="SETTLEMENT_NBR != null and SETTLEMENT_NBR != emptyBigDecimalValue" >
        #{SETTLEMENT_NBR},
      </if>
      <if test="SWITCH_DEAL_TYPE != null and SWITCH_DEAL_TYPE != emptyBigDecimalValue" >
        #{SWITCH_DEAL_TYPE},
      </if>
      <if test="INCLUDE_CURRENT_INSTALLMENT_YN != null and !&quot;&quot;.equals(INCLUDE_CURRENT_INSTALLMENT_YN)" >
        #{INCLUDE_CURRENT_INSTALLMENT_YN},
      </if>
      <if test="PAST_DUE_AMOUNT_SWITCHING != null and PAST_DUE_AMOUNT_SWITCHING != emptyBigDecimalValue" >
        #{PAST_DUE_AMOUNT_SWITCHING},
      </if>
      <if test="PRINCIPAL_OUTSTANDING != null and PRINCIPAL_OUTSTANDING != emptyBigDecimalValue" >
        #{PRINCIPAL_OUTSTANDING},
      </if>
      <if test="REPOSSESSION_TYPE != null and REPOSSESSION_TYPE != emptyBigDecimalValue" >
        #{REPOSSESSION_TYPE},
      </if>
      <if test="INCIDENTAL_CHARGE_COLLECTED != null and INCIDENTAL_CHARGE_COLLECTED != emptyBigDecimalValue" >
        #{INCIDENTAL_CHARGE_COLLECTED},
      </if>
      <if test="INCIDENTAL_CHARGE_DUE != null and INCIDENTAL_CHARGE_DUE != emptyBigDecimalValue" >
        #{INCIDENTAL_CHARGE_DUE},
      </if>
      <if test="ADVANCE_USUFRUCT != null and ADVANCE_USUFRUCT != emptyBigDecimalValue" >
        #{ADVANCE_USUFRUCT},
      </if>
      <if test="COLLECTED_INSURANCE_CHARGES != null and COLLECTED_INSURANCE_CHARGES != emptyBigDecimalValue" >
        #{COLLECTED_INSURANCE_CHARGES},
      </if>
      <if test="OUTSTANDING_INSURANCE_CHARGES != null and OUTSTANDING_INSURANCE_CHARGES != emptyBigDecimalValue" >
        #{OUTSTANDING_INSURANCE_CHARGES},
      </if>
      <if test="REIMBURSE_ADVANCE_USUFRUCT != null and REIMBURSE_ADVANCE_USUFRUCT != emptyBigDecimalValue" >
        #{REIMBURSE_ADVANCE_USUFRUCT},
      </if>
      <if test="SECURITY_DEPOSIT != null and SECURITY_DEPOSIT != emptyBigDecimalValue" >
        #{SECURITY_DEPOSIT},
      </if>
      <if test="ASSET_MATURITY_ACTION != null and !&quot;&quot;.equals(ASSET_MATURITY_ACTION)" >
        #{ASSET_MATURITY_ACTION},
      </if>
      <if test="ACCIDENT_CLAIM_PERC != null and ACCIDENT_CLAIM_PERC != emptyBigDecimalValue" >
        #{ACCIDENT_CLAIM_PERC},
      </if>
      <if test="ADVANCE_INSURANCE_VAT_RVRSL != null and ADVANCE_INSURANCE_VAT_RVRSL != emptyBigDecimalValue" >
        #{ADVANCE_INSURANCE_VAT_RVRSL},
      </if>
      <if test="ASSET_EVALUATION != null and ASSET_EVALUATION != emptyBigDecimalValue" >
        #{ASSET_EVALUATION},
      </if>
      <if test="ASSET_REPOSSESSION_TRX_NO != null and ASSET_REPOSSESSION_TRX_NO != emptyBigDecimalValue" >
        #{ASSET_REPOSSESSION_TRX_NO},
      </if>
      <if test="COVERAGE_BY != null and !&quot;&quot;.equals(COVERAGE_BY)" >
        #{COVERAGE_BY},
      </if>
      <if test="DEAL_OUTSTANDING_CHARGES != null and DEAL_OUTSTANDING_CHARGES != emptyBigDecimalValue" >
        #{DEAL_OUTSTANDING_CHARGES},
      </if>
      <if test="GAIN_OR_LOSS != null and GAIN_OR_LOSS != emptyBigDecimalValue" >
        #{GAIN_OR_LOSS},
      </if>
      <if test="GAIN_OR_LOSS_ON_ASSET_EVALUTN != null and GAIN_OR_LOSS_ON_ASSET_EVALUTN != emptyBigDecimalValue" >
        #{GAIN_OR_LOSS_ON_ASSET_EVALUTN},
      </if>
      <if test="INSURANCE_CLAIM_REFERENCE != null and !&quot;&quot;.equals(INSURANCE_CLAIM_REFERENCE)" >
        #{INSURANCE_CLAIM_REFERENCE},
      </if>
      <if test="INSURANCE_SETTLEMENT_RECEIVED != null and INSURANCE_SETTLEMENT_RECEIVED != emptyBigDecimalValue" >
        #{INSURANCE_SETTLEMENT_RECEIVED},
      </if>
      <if test="NET_PAYABLE_AMOUNT != null and NET_PAYABLE_AMOUNT != emptyBigDecimalValue" >
        #{NET_PAYABLE_AMOUNT},
      </if>
      <if test="NET_REMAINING_BALANCE != null and NET_REMAINING_BALANCE != emptyBigDecimalValue" >
        #{NET_REMAINING_BALANCE},
      </if>
      <if test="PROFIT_OUTSTANDING != null and PROFIT_OUTSTANDING != emptyBigDecimalValue" >
        #{PROFIT_OUTSTANDING},
      </if>
      <if test="SETTLEMENT_AMOUNT != null and SETTLEMENT_AMOUNT != emptyBigDecimalValue" >
        #{SETTLEMENT_AMOUNT},
      </if>
      <if test="SETTLEMENT_FROM_CUSTOMER != null and SETTLEMENT_FROM_CUSTOMER != emptyBigDecimalValue" >
        #{SETTLEMENT_FROM_CUSTOMER},
      </if>
      <if test="SETTLEMENT_FROM_INSURANCE != null and SETTLEMENT_FROM_INSURANCE != emptyBigDecimalValue" >
        #{SETTLEMENT_FROM_INSURANCE},
      </if>
      <if test="TOTAL_DEAL_OR_ASSET_OUTSTNDNG != null and TOTAL_DEAL_OR_ASSET_OUTSTNDNG != emptyBigDecimalValue" >
        #{TOTAL_DEAL_OR_ASSET_OUTSTNDNG},
      </if>
      <if test="UNUSED_DOWN_PAYMENT != null and UNUSED_DOWN_PAYMENT != emptyBigDecimalValue" >
        #{UNUSED_DOWN_PAYMENT},
      </if>
      <if test="VAT_ON_ADVANCE_INSURANCE != null and VAT_ON_ADVANCE_INSURANCE != emptyBigDecimalValue" >
        #{VAT_ON_ADVANCE_INSURANCE},
      </if>
      <if test="ADVANCE_INS_SETTLED_VAT_AMT != null and ADVANCE_INS_SETTLED_VAT_AMT != emptyBigDecimalValue" >
        #{ADVANCE_INS_SETTLED_VAT_AMT},
      </if>
      <if test="ASSET_RETURN_TRX_NO != null and ASSET_RETURN_TRX_NO != emptyBigDecimalValue" >
        #{ASSET_RETURN_TRX_NO},
      </if>
      <if test="PAST_DUE_CHARGES != null and PAST_DUE_CHARGES != emptyBigDecimalValue" >
        #{PAST_DUE_CHARGES},
      </if>
      <if test="PAST_DUE_VAT_ON_ADV_INSURANCE != null and PAST_DUE_VAT_ON_ADV_INSURANCE != emptyBigDecimalValue" >
        #{PAST_DUE_VAT_ON_ADV_INSURANCE},
      </if>
      <if test="VAT_ON_CHARGES_AT_DEAL_PLAN != null and VAT_ON_CHARGES_AT_DEAL_PLAN != emptyBigDecimalValue" >
        #{VAT_ON_CHARGES_AT_DEAL_PLAN},
      </if>
      <if test="PAST_DUE_CHARGES_AT_DEAL_PLAN != null and PAST_DUE_CHARGES_AT_DEAL_PLAN != emptyBigDecimalValue" >
        #{PAST_DUE_CHARGES_AT_DEAL_PLAN},
      </if>
      <if test="PAST_DUE_VAT_CHARGES_DEAL_PLAN != null and PAST_DUE_VAT_CHARGES_DEAL_PLAN != emptyBigDecimalValue" >
        #{PAST_DUE_VAT_CHARGES_DEAL_PLAN},
      </if>
      <if test="PAST_DUE_ADVANCE_INSURANCE != null and PAST_DUE_ADVANCE_INSURANCE != emptyBigDecimalValue" >
        #{PAST_DUE_ADVANCE_INSURANCE},
      </if>
      <if test="PAST_DUE_PROFIT != null and PAST_DUE_PROFIT != emptyBigDecimalValue" >
        #{PAST_DUE_PROFIT},
      </if>
      <if test="NUMBER_OF_INSTALLMENTS != null and NUMBER_OF_INSTALLMENTS != emptyBigDecimalValue" >
        #{NUMBER_OF_INSTALLMENTS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateTRSSETLMT_EXTENDED" >
    update TRSSETLMT_EXTENDED
    <set >
      <if test="SWITCH_DEAL_TYPE != null" >
        <choose >
          <when test="SWITCH_DEAL_TYPE == emptyBigDecimalValue" >
            SWITCH_DEAL_TYPE = NULL ,
          </when>
          <otherwise >
            SWITCH_DEAL_TYPE = #{SWITCH_DEAL_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="INCLUDE_CURRENT_INSTALLMENT_YN != null" >
        <choose >
          <when test="INCLUDE_CURRENT_INSTALLMENT_YN.equals(&quot;&quot;)" >
            INCLUDE_CURRENT_INSTALLMENT_YN = NULL ,
          </when>
          <otherwise >
            INCLUDE_CURRENT_INSTALLMENT_YN = #{INCLUDE_CURRENT_INSTALLMENT_YN},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_AMOUNT_SWITCHING != null" >
        <choose >
          <when test="PAST_DUE_AMOUNT_SWITCHING == emptyBigDecimalValue" >
            PAST_DUE_AMOUNT_SWITCHING = NULL ,
          </when>
          <otherwise >
            PAST_DUE_AMOUNT_SWITCHING = #{PAST_DUE_AMOUNT_SWITCHING},
          </otherwise>
        </choose>
      </if>
      <if test="PRINCIPAL_OUTSTANDING != null" >
        <choose >
          <when test="PRINCIPAL_OUTSTANDING == emptyBigDecimalValue" >
            PRINCIPAL_OUTSTANDING = NULL ,
          </when>
          <otherwise >
            PRINCIPAL_OUTSTANDING = #{PRINCIPAL_OUTSTANDING},
          </otherwise>
        </choose>
      </if>
      <if test="REPOSSESSION_TYPE != null" >
        <choose >
          <when test="REPOSSESSION_TYPE == emptyBigDecimalValue" >
            REPOSSESSION_TYPE = NULL ,
          </when>
          <otherwise >
            REPOSSESSION_TYPE = #{REPOSSESSION_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="INCIDENTAL_CHARGE_COLLECTED != null" >
        <choose >
          <when test="INCIDENTAL_CHARGE_COLLECTED == emptyBigDecimalValue" >
            INCIDENTAL_CHARGE_COLLECTED = NULL ,
          </when>
          <otherwise >
            INCIDENTAL_CHARGE_COLLECTED = #{INCIDENTAL_CHARGE_COLLECTED},
          </otherwise>
        </choose>
      </if>
      <if test="INCIDENTAL_CHARGE_DUE != null" >
        <choose >
          <when test="INCIDENTAL_CHARGE_DUE == emptyBigDecimalValue" >
            INCIDENTAL_CHARGE_DUE = NULL ,
          </when>
          <otherwise >
            INCIDENTAL_CHARGE_DUE = #{INCIDENTAL_CHARGE_DUE},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCE_USUFRUCT != null" >
        <choose >
          <when test="ADVANCE_USUFRUCT == emptyBigDecimalValue" >
            ADVANCE_USUFRUCT = NULL ,
          </when>
          <otherwise >
            ADVANCE_USUFRUCT = #{ADVANCE_USUFRUCT},
          </otherwise>
        </choose>
      </if>
      <if test="COLLECTED_INSURANCE_CHARGES != null" >
        <choose >
          <when test="COLLECTED_INSURANCE_CHARGES == emptyBigDecimalValue" >
            COLLECTED_INSURANCE_CHARGES = NULL ,
          </when>
          <otherwise >
            COLLECTED_INSURANCE_CHARGES = #{COLLECTED_INSURANCE_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="OUTSTANDING_INSURANCE_CHARGES != null" >
        <choose >
          <when test="OUTSTANDING_INSURANCE_CHARGES == emptyBigDecimalValue" >
            OUTSTANDING_INSURANCE_CHARGES = NULL ,
          </when>
          <otherwise >
            OUTSTANDING_INSURANCE_CHARGES = #{OUTSTANDING_INSURANCE_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="REIMBURSE_ADVANCE_USUFRUCT != null" >
        <choose >
          <when test="REIMBURSE_ADVANCE_USUFRUCT == emptyBigDecimalValue" >
            REIMBURSE_ADVANCE_USUFRUCT = NULL ,
          </when>
          <otherwise >
            REIMBURSE_ADVANCE_USUFRUCT = #{REIMBURSE_ADVANCE_USUFRUCT},
          </otherwise>
        </choose>
      </if>
      <if test="SECURITY_DEPOSIT != null" >
        <choose >
          <when test="SECURITY_DEPOSIT == emptyBigDecimalValue" >
            SECURITY_DEPOSIT = NULL ,
          </when>
          <otherwise >
            SECURITY_DEPOSIT = #{SECURITY_DEPOSIT},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_MATURITY_ACTION != null" >
        <choose >
          <when test="ASSET_MATURITY_ACTION.equals(&quot;&quot;)" >
            ASSET_MATURITY_ACTION = NULL ,
          </when>
          <otherwise >
            ASSET_MATURITY_ACTION = #{ASSET_MATURITY_ACTION},
          </otherwise>
        </choose>
      </if>
      <if test="ACCIDENT_CLAIM_PERC != null" >
        <choose >
          <when test="ACCIDENT_CLAIM_PERC == emptyBigDecimalValue" >
            ACCIDENT_CLAIM_PERC = NULL ,
          </when>
          <otherwise >
            ACCIDENT_CLAIM_PERC = #{ACCIDENT_CLAIM_PERC},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCE_INSURANCE_VAT_RVRSL != null" >
        <choose >
          <when test="ADVANCE_INSURANCE_VAT_RVRSL == emptyBigDecimalValue" >
            ADVANCE_INSURANCE_VAT_RVRSL = NULL ,
          </when>
          <otherwise >
            ADVANCE_INSURANCE_VAT_RVRSL = #{ADVANCE_INSURANCE_VAT_RVRSL},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_EVALUATION != null" >
        <choose >
          <when test="ASSET_EVALUATION == emptyBigDecimalValue" >
            ASSET_EVALUATION = NULL ,
          </when>
          <otherwise >
            ASSET_EVALUATION = #{ASSET_EVALUATION},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_REPOSSESSION_TRX_NO != null" >
        <choose >
          <when test="ASSET_REPOSSESSION_TRX_NO == emptyBigDecimalValue" >
            ASSET_REPOSSESSION_TRX_NO = NULL ,
          </when>
          <otherwise >
            ASSET_REPOSSESSION_TRX_NO = #{ASSET_REPOSSESSION_TRX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="COVERAGE_BY != null" >
        <choose >
          <when test="COVERAGE_BY.equals(&quot;&quot;)" >
            COVERAGE_BY = NULL ,
          </when>
          <otherwise >
            COVERAGE_BY = #{COVERAGE_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DEAL_OUTSTANDING_CHARGES != null" >
        <choose >
          <when test="DEAL_OUTSTANDING_CHARGES == emptyBigDecimalValue" >
            DEAL_OUTSTANDING_CHARGES = NULL ,
          </when>
          <otherwise >
            DEAL_OUTSTANDING_CHARGES = #{DEAL_OUTSTANDING_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="GAIN_OR_LOSS != null" >
        <choose >
          <when test="GAIN_OR_LOSS == emptyBigDecimalValue" >
            GAIN_OR_LOSS = NULL ,
          </when>
          <otherwise >
            GAIN_OR_LOSS = #{GAIN_OR_LOSS},
          </otherwise>
        </choose>
      </if>
      <if test="GAIN_OR_LOSS_ON_ASSET_EVALUTN != null" >
        <choose >
          <when test="GAIN_OR_LOSS_ON_ASSET_EVALUTN == emptyBigDecimalValue" >
            GAIN_OR_LOSS_ON_ASSET_EVALUTN = NULL ,
          </when>
          <otherwise >
            GAIN_OR_LOSS_ON_ASSET_EVALUTN = #{GAIN_OR_LOSS_ON_ASSET_EVALUTN},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_CLAIM_REFERENCE != null" >
        <choose >
          <when test="INSURANCE_CLAIM_REFERENCE.equals(&quot;&quot;)" >
            INSURANCE_CLAIM_REFERENCE = NULL ,
          </when>
          <otherwise >
            INSURANCE_CLAIM_REFERENCE = #{INSURANCE_CLAIM_REFERENCE},
          </otherwise>
        </choose>
      </if>
      <if test="INSURANCE_SETTLEMENT_RECEIVED != null" >
        <choose >
          <when test="INSURANCE_SETTLEMENT_RECEIVED == emptyBigDecimalValue" >
            INSURANCE_SETTLEMENT_RECEIVED = NULL ,
          </when>
          <otherwise >
            INSURANCE_SETTLEMENT_RECEIVED = #{INSURANCE_SETTLEMENT_RECEIVED},
          </otherwise>
        </choose>
      </if>
      <if test="NET_PAYABLE_AMOUNT != null" >
        <choose >
          <when test="NET_PAYABLE_AMOUNT == emptyBigDecimalValue" >
            NET_PAYABLE_AMOUNT = NULL ,
          </when>
          <otherwise >
            NET_PAYABLE_AMOUNT = #{NET_PAYABLE_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="NET_REMAINING_BALANCE != null" >
        <choose >
          <when test="NET_REMAINING_BALANCE == emptyBigDecimalValue" >
            NET_REMAINING_BALANCE = NULL ,
          </when>
          <otherwise >
            NET_REMAINING_BALANCE = #{NET_REMAINING_BALANCE},
          </otherwise>
        </choose>
      </if>
      <if test="PROFIT_OUTSTANDING != null" >
        <choose >
          <when test="PROFIT_OUTSTANDING == emptyBigDecimalValue" >
            PROFIT_OUTSTANDING = NULL ,
          </when>
          <otherwise >
            PROFIT_OUTSTANDING = #{PROFIT_OUTSTANDING},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLEMENT_AMOUNT != null" >
        <choose >
          <when test="SETTLEMENT_AMOUNT == emptyBigDecimalValue" >
            SETTLEMENT_AMOUNT = NULL ,
          </when>
          <otherwise >
            SETTLEMENT_AMOUNT = #{SETTLEMENT_AMOUNT},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLEMENT_FROM_CUSTOMER != null" >
        <choose >
          <when test="SETTLEMENT_FROM_CUSTOMER == emptyBigDecimalValue" >
            SETTLEMENT_FROM_CUSTOMER = NULL ,
          </when>
          <otherwise >
            SETTLEMENT_FROM_CUSTOMER = #{SETTLEMENT_FROM_CUSTOMER},
          </otherwise>
        </choose>
      </if>
      <if test="SETTLEMENT_FROM_INSURANCE != null" >
        <choose >
          <when test="SETTLEMENT_FROM_INSURANCE == emptyBigDecimalValue" >
            SETTLEMENT_FROM_INSURANCE = NULL ,
          </when>
          <otherwise >
            SETTLEMENT_FROM_INSURANCE = #{SETTLEMENT_FROM_INSURANCE},
          </otherwise>
        </choose>
      </if>
      <if test="TOTAL_DEAL_OR_ASSET_OUTSTNDNG != null" >
        <choose >
          <when test="TOTAL_DEAL_OR_ASSET_OUTSTNDNG == emptyBigDecimalValue" >
            TOTAL_DEAL_OR_ASSET_OUTSTNDNG = NULL ,
          </when>
          <otherwise >
            TOTAL_DEAL_OR_ASSET_OUTSTNDNG = #{TOTAL_DEAL_OR_ASSET_OUTSTNDNG},
          </otherwise>
        </choose>
      </if>
      <if test="UNUSED_DOWN_PAYMENT != null" >
        <choose >
          <when test="UNUSED_DOWN_PAYMENT == emptyBigDecimalValue" >
            UNUSED_DOWN_PAYMENT = NULL ,
          </when>
          <otherwise >
            UNUSED_DOWN_PAYMENT = #{UNUSED_DOWN_PAYMENT},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_ON_ADVANCE_INSURANCE != null" >
        <choose >
          <when test="VAT_ON_ADVANCE_INSURANCE == emptyBigDecimalValue" >
            VAT_ON_ADVANCE_INSURANCE = NULL ,
          </when>
          <otherwise >
            VAT_ON_ADVANCE_INSURANCE = #{VAT_ON_ADVANCE_INSURANCE},
          </otherwise>
        </choose>
      </if>
      <if test="ADVANCE_INS_SETTLED_VAT_AMT != null" >
        <choose >
          <when test="ADVANCE_INS_SETTLED_VAT_AMT == emptyBigDecimalValue" >
            ADVANCE_INS_SETTLED_VAT_AMT = NULL ,
          </when>
          <otherwise >
            ADVANCE_INS_SETTLED_VAT_AMT = #{ADVANCE_INS_SETTLED_VAT_AMT},
          </otherwise>
        </choose>
      </if>
      <if test="ASSET_RETURN_TRX_NO != null" >
        <choose >
          <when test="ASSET_RETURN_TRX_NO == emptyBigDecimalValue" >
            ASSET_RETURN_TRX_NO = NULL ,
          </when>
          <otherwise >
            ASSET_RETURN_TRX_NO = #{ASSET_RETURN_TRX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_CHARGES != null" >
        <choose >
          <when test="PAST_DUE_CHARGES == emptyBigDecimalValue" >
            PAST_DUE_CHARGES = NULL ,
          </when>
          <otherwise >
            PAST_DUE_CHARGES = #{PAST_DUE_CHARGES},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_VAT_ON_ADV_INSURANCE != null" >
        <choose >
          <when test="PAST_DUE_VAT_ON_ADV_INSURANCE == emptyBigDecimalValue" >
            PAST_DUE_VAT_ON_ADV_INSURANCE = NULL ,
          </when>
          <otherwise >
            PAST_DUE_VAT_ON_ADV_INSURANCE = #{PAST_DUE_VAT_ON_ADV_INSURANCE},
          </otherwise>
        </choose>
      </if>
      <if test="VAT_ON_CHARGES_AT_DEAL_PLAN != null" >
        <choose >
          <when test="VAT_ON_CHARGES_AT_DEAL_PLAN == emptyBigDecimalValue" >
            VAT_ON_CHARGES_AT_DEAL_PLAN = NULL ,
          </when>
          <otherwise >
            VAT_ON_CHARGES_AT_DEAL_PLAN = #{VAT_ON_CHARGES_AT_DEAL_PLAN},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_CHARGES_AT_DEAL_PLAN != null" >
        <choose >
          <when test="PAST_DUE_CHARGES_AT_DEAL_PLAN == emptyBigDecimalValue" >
            PAST_DUE_CHARGES_AT_DEAL_PLAN = NULL ,
          </when>
          <otherwise >
            PAST_DUE_CHARGES_AT_DEAL_PLAN = #{PAST_DUE_CHARGES_AT_DEAL_PLAN},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_VAT_CHARGES_DEAL_PLAN != null" >
        <choose >
          <when test="PAST_DUE_VAT_CHARGES_DEAL_PLAN == emptyBigDecimalValue" >
            PAST_DUE_VAT_CHARGES_DEAL_PLAN = NULL ,
          </when>
          <otherwise >
            PAST_DUE_VAT_CHARGES_DEAL_PLAN = #{PAST_DUE_VAT_CHARGES_DEAL_PLAN},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_ADVANCE_INSURANCE != null" >
        <choose >
          <when test="PAST_DUE_ADVANCE_INSURANCE == emptyBigDecimalValue" >
            PAST_DUE_ADVANCE_INSURANCE = NULL ,
          </when>
          <otherwise >
            PAST_DUE_ADVANCE_INSURANCE = #{PAST_DUE_ADVANCE_INSURANCE},
          </otherwise>
        </choose>
      </if>
      <if test="PAST_DUE_PROFIT != null" >
        <choose >
          <when test="PAST_DUE_PROFIT == emptyBigDecimalValue" >
            PAST_DUE_PROFIT = NULL ,
          </when>
          <otherwise >
            PAST_DUE_PROFIT = #{PAST_DUE_PROFIT},
          </otherwise>
        </choose>
      </if>
      <if test="NUMBER_OF_INSTALLMENTS != null" >
        <choose >
          <when test="NUMBER_OF_INSTALLMENTS == emptyBigDecimalValue" >
            NUMBER_OF_INSTALLMENTS = NULL ,
          </when>
          <otherwise >
            NUMBER_OF_INSTALLMENTS = #{NUMBER_OF_INSTALLMENTS},
          </otherwise>
        </choose>
      </if>
    </set>
    where BRANCH = #{BRANCH}
      and COMP_CODE = #{COMP_CODE}
      and SETTLEMENT_NBR = #{SETTLEMENT_NBR}
  </sql>
  <update id="updateTRSSETLMT_EXTENDED" parameterType="com.path.dbmaps.vo.TRSSETLMT_EXTENDEDVO" >
    <include refid="sql_updateTRSSETLMT_EXTENDED" />
  </update>
</mapper>